<header class="site-header">
  <div class="navbar">
    <div class="logo">
      <a href="/"><img src="/images/logo_tale_haven.jpg" alt="Portal de Histórias"></a>
      <!--a href="/">Portal de Histórias</a-->
    </div>
    
    <nav class="site-nav">
      <a href="/">Início</a>
      <a href="/categorias">Categorias</a>

      <% if (session && session.autor && session.autor.nome) { %>
        <a href="/profile"><%= session.autor.nome %></a>
        <a href="/logout">Sair</a>
      <% } else { %>
        <a href="/login">Entrar</a>
        <a href="/sign_up">Cadastrar</a>
      <% } %>
    </nav>

  </div>
</header>